<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="tab-content rounded-bottom">
        <div class="tab-pane p-3 active preview">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">Sr No.</th>
                <th>Task</th>
                <th scope="col">Assign Task</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="tab-content rounded-bottom">
        <div class="tab-pane p-3 active preview">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">Sr No.</th>
                <th>Task</th>
                <th scope="col">Unassign</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
