<nav aria-label="breadcrumb">
  <ol class="breadcrumb m-2">
    <li class="breadcrumb-item">
      <a routerLink="/user/home" data-coreui-i18n="home">Home</a>
    </li>
    <li class="breadcrumb-item active">
      <span data-coreui-i18n="dashboard" routerLink="/user/tasks">Tasks</span>
    </li>
  </ol>
</nav>
<div class="tab-content rounded-bottom mt-3">
                  <div class="tab-pane p-2 active preview" role="tabpanel" id="preview-1000">
                    <table class="table table-striped border datatable">
                      <thead>
                        <tr>
                          <th>Sr.No.</th>
                          <th>Project Name</th>
                          <th>Task</th>
                          <th>Status</th>
                          <th>Priority</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="align-middle" *ngFor="let job of jobs; let i= index;">
                          <td>{{i+1}}</td>
                          <td>{{job.projectName}}</td>
                          <td>{{job.job.title}}</td>
                          <td>{{job.job.status}}</td>
                          <td>{{job.job.priority}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
