  <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-2">
              <li class="breadcrumb-item"><a routerLink="/admin" data-coreui-i18n="home">Home</a>
              </li>
              <li class="breadcrumb-item active"><span data-coreui-i18n="dashboard" routerLink="/admin/user">User</span>
              </li>
            </ol>
          </nav>
  <div class="container">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="upload-container">
  <h3>Upload Excel File</h3>

  <input type="file" (change)="onFileSelected($event)" accept=".xls,.xlsx" class="form-control m-2" />
  <button (click)="onUpload()" class="btn btn-primary m-2">Upload</button>

  <p class="m-2" class="text-danger">{{ message }}</p>
</div>
<!-- <h3>Enter a user</h3> -->
<form class="row g-3" [formGroup]="formdata" (ngSubmit)="submit(formdata.value)">
  <div class="col-md-6">

    <label class="form-label">Name</label>
    <br>
    <span *ngIf="formdata.controls.name.touched && formdata.controls.name.invalid" class="text-danger">Name is required</span>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="col-md-6">
    <label class="form-label">Email</label>
    <br>
    <span *ngIf="formdata.controls.email.touched && formdata.controls.email.invalid" class="text-danger">Please enter valid Email address</span>
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="text" class="form-control" aria-describedby="inputGroupPrepend" formControlName="email">
    </div>

  </div>
   <div class="col-md-4">
    <label class="form-label">Mobile No</label>
    <br>
    <span *ngIf="formdata.controls.mobileNo.touched && formdata.controls.mobileNo.invalid" class="text-danger">Mobile no is required</span>
    <input type="text" class="form-control" formControlName="mobileNo"/>
  </div>
  <div class="col-md-4">
    <label class="form-label">Password</label>
    <br>
    <span *ngIf="formdata.controls.password.touched && formdata.controls.password.invalid" class="text-danger">Please enter validate password</span>
    <input type="text" class="form-control" formControlName="password">
  </div>
  <div class="col-md-4">
    <label class="form-label">User Type</label>
    <br>
    <span *ngIf="formdata.controls.usertype.touched && formdata.controls.usertype.invalid" class="text-danger">User type is required</span>
    <select class="form-select" formControlName="usertype">
      <option value="">Select</option>
      <option>Admin</option>
      <option>User</option>
    </select>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
</div>
</div>
</div>
</div>
